
.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.app-logo{
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    letter-spacing: 5px !important;
    color: white;
}

.mode-icon{
    color: white;
    cursor: pointer;
}

.mode-icon:hover,
.mode-icon:focus{
    opacity: 0.7;
}