@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Michroma&family=Montserrat:wght@300;400;500;700&family=Oswald:wght@300;400;500;700&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400&family=Rubik:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif !important;
}

html{
  font-size: 18px;
}


:root{
  /* primary colors */
  --brightBlue:hsl(220, 98%, 61%);
  --checkBackground:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);


  /* light theme */
  --veryLightGray:hsl(0, 0%, 98%);
  --veryLightGrayishBlue:hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue:hsl(236, 9%, 61%);
  --veryDarkGrayishBlue:hsl(235, 19%, 35%);

  /* dark theme */

  --veryDarkBlue:hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue:hsl(235, 24%, 19%);
  --lightGrayishBlue:hsl(234, 39%, 85%);
  --lightGrayishBlueHover:hsl(236, 33%, 92%);
  --darkGrayishBlue:hsl(234, 11%, 52%);
  --veryDarkGrayishBlue:hsl(233, 14%, 35%);
  --veryDarkGrayishBlue:hsl(237, 14%, 26%);
}



.container{

  
}

.todo-top{
  height: 200px;
  width: 100%;
}
.app-background-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app-background-image-container{
  height: 100%;
  width: 100%;
}

.todo-bottom{
  min-height: calc(100vh - 200px);
  width: 100%;
  background-color: #000000;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.todo-main-container{
  max-width: 540px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2.5em 0;

}